<section id="trip-detais">
     <ol class="my-breadcrumb d-flex align-items-center justify-content-center">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>

        <li class="my-breadcrumb-item">
            <a href="#/trip-diaries">Trip diaries</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            {{title}}
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div>Trip details</div>
    <div>
        <p>{{likes}}</p>
        <p>{{dislikes}}</p>
        <p>{{title}}</p>
        <p>{{author}}</p>
        <p>{{postDate}}</p>
        <p>{{category}}</p>
        <p>{{{content}}}</p>
        <img src="{{mainImage}}" alt="">
        <p>
           {{#each images}}
                <img src="{{this}}" alt="">
           {{/each}}
        </p>

        {{#each comments}}
            <div>
                <p>{{this.author}}</p>
                <p>{{this.body}}</p>
                <p>{{this.postDate}}</p>
            </div>
        {{/each}}
    </div>
</section>