<section>
    <h3>Diary author</h3>
            <div>
                <p>{{firstName}} {{lastName}}</p>
                <p><img src="{{profileImgURL}}" alt="profile Image" style="width: 100px; height: 100px;"></p>
                
                <a href="{{facebookContact}}" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="{{youTubeContact}}" target="blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="{{twitterContact}}" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="{{googlePlusContact}}" target="blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="{{instagramContact}}" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="{{rssContact}}" target="blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
</section>