<section id="trip-details">
     <ol class="my-breadcrumb  d-flex">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>

        <li class="my-breadcrumb-item">
            <a href="#/trip-diaries">Trip diaries</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            {{title}}
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div>
        <div class="details-icons">
            <p class="float-left col-sm-6">
                <i class="fa fa-thumbs-up icon-spacing-right icon-color like" aria-hidden="true"></i>{{likes}}
                <i class="fa fa-circle icon-color dot" aria-hidden="true"></i>
                <i class="fa fa-thumbs-down icon-spacing-right icon-color dislike" aria-hidden="true"></i>{{dislikes}}
            </p>

            <p class="float-right details-icons-right col-sm-6 d-flex">
                <i class="fa fa-comment-o icon-spacing-right comment" aria-hidden="true"></i>{{comments.length}} Comments
                <i class="fa fa-circle icon-color dot" aria-hidden="true"></i>
                <i class="fa fa-user-o icon-spacing-right author" aria-hidden="true"></i>By {{author}}
            </p>
        </div>
       
        <div class="date-container d-flex align-items-center justify-content-center">
            <p class="d-inline separator"></p>

            <div class="d-inline text-center">
                <p class="d-inline date">{{date.date}}</p>
                <p class="d-inlinemonth">{{date.month}}</p>
            </div>
            
            <p class="d-inline separator"></p>
        </div>
        
        <h1 class="diary-title">{{title}}</h1>
        <div class="diary-content">{{{content}}}</div>

        <div class="container diary-img-container">
            <div class="row">
                <div class="col-sm-6 diary-img">            
                    <img class="d-block img-fluid" src="{{mainImage}}" alt="First slide">
                </div>
                {{#each images}}    
                    <div class="col-sm-6 diary-img">            
                        <img class="d-block img-fluid" src="{{this}}" alt="Second slide">
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="share-buttons d-inline clearfix">
            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
               <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            </p>

            <p class="share-button d-flex align-items-center justify-content-center float-right">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftrip-diaries.herokuapp.com%2F%23%2Ftrip-diaries%2F{{_id}}%2F&amp;src=sdkpreparse" target="_blank">
                        <i class="fa fa-facebook "></i>
                    </a>
                </p>
        </div>

        <div class="container other-diaries-container">
            <div class="row">
                <div class="prev col-sm-6 d-flex align-items-center">
                    <img class="img-fluid prev-img" src={{previous.mainImage}}>
                    <div class="prev-container">
                        <p class="prev-next-title">Previous diary</p>
                        <p>
                            <a href="#/trip-diaries/{{previous._id}}">{{previous.title}}</a>
                        </p>
                    </div>
                </div>

                <div class="next col-sm-6 d-flex align-items-center justify-content-end">
                    <div class="next-container">
                        <p class="prev-next-title d-flex justify-content-end">Next diary</p>
                        <p class="d-flex justify-content-end">
                            <a  href="#/trip-diaries/{{next._id}}">{{next.title}}</a>
                        </p>
                    </div>
                    <img class="img-fluid next-img" src={{next.mainImage}}>
                </div>
            </div>
        </div>

        <div class="comments-container">
            <div class="d-flex justify-content-center comments-heading">
                <p class="d-inline comments-section-title">Comments</p>
                <p class="d-inline comments-section-count d-flex align-items-center justify-content-center">{{comments.length}}</p>
            </div>
          
            <div class="comments">
                {{#each comments}}
                    <div class="comment d-flex align-items-center">
                        <img class="img-fluid" src={{this.profileImgURL}} alt="">
                        <div class="">
                            <div class="author-panel">
                                <p class="d-inline comment-author">{{this.author}}</p>
                                <i class="fa fa-circle-thin" aria-hidden="true"></i>
                                <p class="d-inline comment-date">{{this.date.date}}</p>
                            </div>
                            
                            <p class="comment-body">{{this.body}}</p>
                            <button class="btn-replay hidden">Replay</button>
                        </div>
                        
                    </div>
                    <hr class="horizontal-separator"/>
                {{/each}}
            </div>

            <div class="replay post-comment hidden">
                <div class="replay-title">Leave a replay</div>
                <textarea name="replay-area" id="replay-area" cols="30" rows="10" placeholder="Write a message..."></textarea>
                <p class="center"><button class="btn-post-comment">Post comment</button></p>
            </div>
        </div>
    </div>
</section>