<section>
    <div>Trip details</div>
    <div>
        <p>{{likes}}</p>
        <p>{{dislikes}}</p>
        <p>{{title}}</p>
        <p>{{author}}</p>
        <p>{{postDate}}</p>
        <p>{{category}}</p>
        <p>{{{content}}}</p>
        <img src="{{mainImage}}" alt="">
        <p>
           {{#each images}}
                <img src="{{this}}" alt="">
           {{/each}}
        </p>

        {{#each comments}}
            <div>
                <p>{{this.author}}</p>
                <p>{{this.body}}</p>
                <p>{{this.postDate}}</p>
            </div>
        {{/each}}
    </div>
</section>