<section>
    <div>Trips</div>
    
         {{#each this}}
         <div>
            <p>{{author}}</p>
            <p>{{category}}</p>
            <p>{{content}}</p>
            <p>{{images}}</p>
            <p>{{place}}</p>
            <p>{{title}}</p>
            <p>{{likes}}</p>
            <p>{{dislike}}</p>
            </div>
         {{/each}}
    </div>
</section>