{{#each this}}
    <div>
        <img src="{{mainImage}}" alt="main-image" style="width: 550px; height: 400px;">
        <p><a href="#/trip-diaries/{{_id}}" data-id="{{_id}}">{{title}}</a></p>
        <p>{{postDate}}</p>
        <p>{{{content}}}...</p>
        <p>{{author}}</p>
        <p>{{likes}}</p>
        <p>{{comments.length}}</p>
    </div>
{{/each}}