<section>
    <div>
         {{#each this}}
            <div>
                <img src="{{mainImage}}" alt="">
                <p><a href="#/trip-diaries/{{_id}}" data-id="{{_id}}">{{title}}</a></p>
                <p>{{postDate}}</p>
                <p>{{content}}...</p>
                <p>{{author}}</p>
                <p>{{likes}}</p>
                <p>{{comments.length}}</p>
            </div>
         {{/each}}
</section>

<aside>
    </div><div id="categories"></div>   
</aside>

