<!--Carousel - most liked trip diaries -->
<section>
    <div id="mostLikedDiariesControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox" data-interval="2000">
            {{#each this.mostLikedDieries}}
                <div class="carousel-item carousel-container">
                    <img class="d-block img-fluid carousel-image" src="{{this.tripsGrouped.mainImage}}" alt="First slide">

                    <div class="carousel-data container">
                        <div class="row">
                            <div class="col-sm-3 slide-count">
                                <p class="current">{{this.number}}</p>
                                <p class="line">/</p>
                                <p class="total">7</p>
                            </div>

                            <div class="col-sm-5 slide-data">
                                <p class="slide-title text-center">
                                    <a href="#/trip-diaries/{{this.tripsGrouped._id}}" data-id="{{this.tripsGrouped._id}}">
                                    {{this.tripsGrouped.title}}</a>
                                </p>
                                <div class="row">
                                    <div class="col-sm-6 text-right">
                                        <p class="slide-comments slide-info-up left">
                                            <i class="fa fa-comment-o icon-spacing-right comment" aria-hidden="true"></i>
                                            {{this.tripsGrouped.comments.length}} Comments
                                        </p>
                                        <p class="slide-likes slide-info-down left left-border">
                                            {{this.tripsGrouped.likes}}
                                            <i class="fa fa-thumbs-up icon-spacing-left icon-color like" aria-hidden="true"></i>
                                           </p>
                                    </div>

                                    <div class="col-sm-6 text-left">
                                        <p class="slide-author slide-info-up right">
                                            <i class="fa fa-circle icon-spacing-right icon-color dot align-items-center" aria-hidden="true"></i>
                                            <i class="fa fa-user-o icon-spacing-right author" aria-hidden="true"></i>
                                            By {{this.tripsGrouped.author}}
                                        </p>
                                        <p class="slide-dislikes slide-info-down right">
                                            <i class="fa fa-thumbs-down icon-spacing-right icon-color dislike" aria-hidden="true"></i>
                                            {{this.tripsGrouped.dislikes}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <a class="carousel-control-prev prev-carousel" href="#mostLikedDiariesControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next next-carousel" href="#mostLikedDiariesControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!--Recent trip diaries-->
<div id="main-container">
    <div class="container cont">
        <div class="row">
            <div id="most-recent" class="col-sm-8">
                <div class="recent-header d-flex justify-content-center"> 
                    <img class="img-fluid img-separator-left" src="../images/left-separator.png">
                    <span class="recent-diaries-title">Latest dieries</span>
                    <img class="img-fluid img-separator-right" src="../images/right-separator.png">
                </div>

                <div class="container cont">
                    <div class="row">
                        {{#each this.recentDieries}}
                            <div class="col-sm-6">
                                <img class="img-fluid recent-img" src="{{tripsData.mainImage}}" alt="main-image">
                                <p class="recent-title"><a href="#/trip-diaries/{{tripsData._id}}" data-id="{{tripsData._id}}">{{tripsData.title}}</a></p>
                                <p class="recent-date">{{date}}</p>
                                <div class="recent-text">{{{tripsData.content}}} ...</div>
                                <p class="recent-icons">
                                    <i class="fa fa-user-o icon-spacing-right author" aria-hidden="true"></i>{{tripsData.author}}
                                    <i class="fa fa-circle icon-spacing-right icon-color dot align-items-center" aria-hidden="true"></i>
                                    <i class="fa fa-heart-o icon-spacing-left icon-color like" aria-hidden="true"></i>{{tripsData.likes}}
                                    <i class="fa fa-circle icon-spacing-right icon-color dot align-items-center" aria-hidden="true"></i>
                                    <i class="fa fa-comment-o icon-spacing-right comment" aria-hidden="true"></i>{{tripsData.comments.length}}
                                </p>
                                <hr/>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div id="categories" class="col-sm-3">
                <form class="">
                    <input id="search" class="input-search" type="text" placeholder="Search">
                    <button id="btn-search" class="btn-search" type="submit">Search</button>
                </form>

                <div class="categories-title d-flex justify-content-center">
                    Trips Categories
                </div>
                <img class="img-fluid" src="../images/full-separator.png" alt="separator">

                <div class="categories-container">
                    {{#each this.diariesByCategories}}
                        <a href="#/trip-diaries/category/{{this.category}}" data-category="{{this.category}}">
                            <div class="category-container">
                                <p class="d-inline align-items-left category">{{this.category}}</p>
                                <p class="d-inline align-items-right float-right category-count">{{this.tripsGrouped.length}}</p>
                            </div>
                        </a>
                    {{/each}}
                </div>

                <div class="fb-page">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTripDiaryTelerikAcademyProject%2F&tabs=contacts&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>