<section>
    <div>
        <h3>Trips</h3>

         {{#each this}}
            <div>
                <img src="{{mainImage}}" alt="">
                <p>{{title}}</p>
                <p>{{postDate}}</p>
                <p>{{content}}...</p>
                <p>{{author}}</p>
                <p>{{likes}}</p>
                <p>{{comments.length}}</p>
            </div>
         {{/each}}
    </div>

    
</section>

<div id="categ">
        <h3>Categories</h3>
        <div>
            {{#each this}}
            <div>
                <p>{{this.category}}</p>
                <p>{{this.tripsGrouped.length}}</p>
            </div>
         {{/each}}
        </div>
    </div>