<section id="trips-by-search-word">
    <ol class="my-breadcrumb d-flex justify-content-center">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            Search: {{search}}
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div>
        <h3 class="title">Trip dieries containing: {{search}}</h3>
        <div class="container">
            <div class="row">
                {{#each this}}
                    <div class="col-sm-4">
                        <p class="diary-title"><a href="#/trip-diaries/{{_id}}" data-id="{{_id}}">{{title}}</a></p>
                        <p class="diary-author">by {{author}}</p>
                        <img class="img-fluid diary-img" src="{{mainImage}}" alt="main-img">
                    </div>
                {{/each}}
        </div>
    </div>
</section>