<section id="trips-by-category">
    <ol class="my-breadcrumb d-flex align-items-center justify-content-center">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            Sign-up
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div>
        <h3>Trips by categogory</h3>
        {{#each this}}
            <div>
                <img src="{{mainImage}}" alt="">
                <p><a href="#/trip-diaries/{{_id}}" data-id="{{_id}}">{{title}}</a></p>
                <p>{{postDate}}</p>
                <p>{{author}}</p>
                <p>{{likes}}</p>
                <p>{{comments.length}}</p>
        {{/each}}
    </div>
</section>